body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}


h1,
h2 {
    text-align: center;
    color: #333;
}

h1 {
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    text-align: center;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.no-task-message {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.delete-button {
    background-color: #f44336;
    /* Red */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #d32f2f;
    /* Darker red */
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #45a049;
}

.action-links {
    display: flex;
    justify-content: space-around;
}

.edit-link,
.delete-link {
    margin-right: 10px;
}